body {
    font-family: 'Roboto', sans-serif;
}

header, section {
    padding: 10rem 0;

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    margin-top: 56px;
}

.bobble {
    transform: scale(1);
}

.bobble:hover {
    transform: scale(1.1);
}

.bobble:active {
    transform: scale(1);
}
