body {
    font-family : 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.bg-flex-fill {
    /*background-attachment   : fixed;*/
    background-position     : center center;
    background-repeat       : no-repeat;
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
}

header {
    margin-top : 56px;
}

section:nth-child(even) {
    background-color : var(--light);
}

section:nth-child(odd) {
    background-color : var(--white);
}

.perspective-card {
    transform-style : preserve-3d;
}

.card-title, .card-text, .btn-group, span {
    transform : translateZ(2em);
}
