:root {
    --light: #f0f0f0;
    --white: #ffffff;
}

body {
    font-family : 'Roboto', sans-serif;
}

.bg-flex-fill {
    background-position     : center center;
    background-repeat       : no-repeat;
    -webkit-background-size : cover;
    -moz-background-size    : cover;
    -o-background-size      : cover;
    background-size         : cover;
}

section:nth-child(even) {
    background-color : var(--light) !important;
}

section:nth-child(odd) {
    background-color : var(--white) !important;
}
