<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="icon" href="https://raw.githubusercontent.com/twitter/twemoji/gh-pages/72x72/1f530.png">
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="//use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="css.css"
          crossorigin="anonymous">
</head>

<body id="page-top">

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a id="navbar-brand" class="navbar-brand js-scroll-trigger" href="#page-top"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#unityprojects">Unity projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#jenkinsprojects">Jenkins projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#otherprojects">Other projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="bg-primary text-white">
    <div class="container">
        <div class="m-auto text-center">
            <i id="dice" class="fas fa-gamepad"></i>
            <h1 class="text-truncate">MOM!<wbr>iMAGAMEDEV</h1>
            <p class="lead">And this is my meta site</p>
        </div>
    </div>
</header>

<!-- About -->
<section id="about">
    <div class="container">
        <div>
            I've collected all of the interesting projects I've code or participate in.
        </div>
        <div>
            So this site is a kind of portfolio of mine.
        </div>
    </div>
</section>

<!-- Unity Projects -->
<section id="unityprojects">
    <div class="container">
        <div class="m-auto d-flex justify-content-around">
            <h3 class="outline" v-html="text"></h3>
        </div>
        <div class="m-auto d-flex flex-wrap justify-content-around">
            <project-card v-for="project in projects"
                          :key="project.id"
                          :id="project.id"
                          :title="project.title"
                          :text="project.text"
                          :status="project.status"
                          :links="project.links">
            </project-card>
        </div>
    </div>
</section>

<!-- Jenkins Projects -->
<section id="jenkinsprojects">
    <div class="container">
        <div class="m-auto d-flex justify-content-around">
            <h3 class="outline" v-html="text"></h3>
        </div>
        <div class="m-auto d-flex flex-wrap justify-content-around">
            <project-card v-for="project in projects"
                          :key="project.id"
                          :id="project.id"
                          :title="project.title"
                          :text="project.text"
                          :status="project.status"
                          :links="project.links">
            </project-card>
        </div>
    </div>
</section>

<!-- Other Projects -->
<section id="otherprojects">
    <div class="container">
        <div class="m-auto d-flex justify-content-around">
            <h3 class="outline" v-html="text"></h3>
        </div>
        <div class="m-auto d-flex flex-wrap justify-content-around">
            <project-card v-for="project in projects"
                          :key="project.id"
                          :id="project.id"
                          :title="project.title"
                          :text="project.text"
                          :status="project.status"
                          :links="project.links">
            </project-card>
        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact">
    <div class="container">
        <div class="m-0 text-center">
            <small>You can also find me here:</small>
        </div>
        <div class="mx-auto d-flex justify-content-center">
            <a href="https://poly.google.com/user/bTvqJ0PdkuR">
                <i class="m-1 bobble fab fa-3x fa-google"></i></a>
            <a href="https://mewmewmewpewpewpew.tumblr.com">
                <i class="m-1 bobble fab fa-3x fa-tumblr"></i></a>
            <a href="https://github.com/nikitabelonogov">
                <i class="m-1 bobble fab fa-3x fa-github"></i></a>
        </div>
        <div class="mx-auto d-flex justify-content-center">
            <a href="https://vk.com/meowmeowmeowpewpewpew">
                <i class="m-1 bobble fab fa-2x fa-vk"></i></a>
            <a href="https://t.me/meowmeowmeowpewpewpew">
                <i class="m-1 bobble fab fa-2x fa-telegram"></i></a>
            <a href="https://steamcommunity.com/id/wokse">
                <i class="m-1 bobble fab fa-2x fa-steam"></i></a>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="m-0 text-center text-white">
            <small>
                GLWT(Good Luck With That) Public License<br>
                Copyright &copy; Everyone, except Author<br>
                <a href="https://github.com/nikitabelonogov/nikitabelonogov.github.io">
                    This site source code <i class="fab fa-github"></i></a>
            </small>
        </div>
    </div>
</footer>

</body>

<script src="js/preload.js"
        crossorigin="anonymous"></script>
<script src="js/dice.js"
        crossorigin="anonymous"></script>
<script src="js/scrollspy.js"
        crossorigin="anonymous"></script>
<script src="js/vue.js"
        crossorigin="anonymous"></script>
<script src="js/js.js"
        crossorigin="anonymous"></script>

</html>